body {
    font-family: Arial, sans-serif;
  }
  #data-container {
    margin-top: 20px;
  }
  .item {
    margin-bottom: 10px;
  }
  img {
    width: 30px;
    border: 2px solid #ccc;
    border-radius: 10px;
  }